<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">GoodApple</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Featured Projects</a>
      <a class="nav-item nav-link" href="#">Mission</a>
      <a class="nav-item nav-link" href="#">Donors</a>
      <partial name="LoginPartial">
    </div>
  </div>
</nav>
    </header>
    
<!-- <img src="~/img/download.png" alt=""> -->
<a href="">All Projects</a>

<h3>nav bar, login/reg</h3>
<h3>Featured projects</h3>
<h3>Teacher sign up / why they should sign up / sign up link </h3>
<h3>Site features - chat, donate, promote projects</h3>
<h3>Get donors to donate / sign up </h3>
<h3>Stats</h3>
<h3>About us</h3>
<h3>Contact Us, footer, socials etc</h3>
</body>
</html>